@import url('https://fonts.googleapis.com/css2?family=Italianno&family=JetBrains+Mono:wght@800&family=Roboto:wght@300;400&family=Rubik:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0xp;
}

a{
    text-decoration: none;
    color: black;
}
